html {
  font-size: 100px;
}
body {
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  -webkit-tap-highlight-color: red;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
li {
  list-style: none;
}
input {
  border: 0;
  outline: 0;
}
img {
  border: none;
  vertical-align: middle;
}
a {
  color: #666;
  text-decoration: none;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.bl {
  border-left: 1px solid #ccc;
}
.br {
  border-right: 1px solid #ccc;
}
.bt {
  border-top: 1px solid #ccc;
}
.bb {
  border-bottom: 1px solid #ccc;
}
#header {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  position: fixed;
  width: 100%;
  max-width: 640px;
  box-shadow: 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  z-index: 2;
}
#header [class^="icon-"] {
  background-image: url('../images/sprites.png');
  background-size: 200px 200px;
  background-origin: content-box;
  background-clip: content-box;
}
#header .icon-logo {
  display: block;
  width: 80px;
  height: 40px;
  background-position: 0 -108px;
  padding: 5px 10px;
  /* 
        背景图片默认是以padding的左上角为起始定位
        如果想要背景图片以内容左上角为开始定位（即背景图跟着内容走，还可以被padding挤动），那就要设置origin与clip两个属性都为content-box

        */
}
#header .icon-back {
  display: block;
  width: 40px;
  height: 40px;
  padding: 10px;
  background-position: -20px 0;
}
#header .icon-menu {
  display: block;
  width: 40px;
  height: 40px;
  padding: 10px;
  background-position: -60px 0;
}
#header .search-form {
  flex: 1;
  padding-top: 5px;
  position: relative;
}
#header .search-form .icon-search {
  width: 20px;
  height: 20px;
  background: url('../images/sprites.png') -56px -108px / 200px 200px;
  position: absolute;
  left: 5px;
  top: 10px;
}
#header .search-form > input {
  height: 30px;
  width: 100%;
  border-radius: 15px;
  padding-left: 30px;
}
#header .login {
  display: block;
  width: 60px;
  height: 40px;
  padding: 5px 10px;
  text-align: center;
  line-height: 30px;
  color: #fff;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 640px;
  background-color: #fff;
  box-shadow: 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
#footer > ul {
  display: flex;
}
#footer > ul > li {
  flex: 1;
  text-align: center;
}
#footer > ul > li > a {
  display: block;
}
#footer > ul > li > a > img {
  width: 65px;
  height: 50px;
}
#header {
  background-color: #eee;
}
html,
body {
  height: 100%;
}
#main {
  height: 100%;
  overflow: hidden;
  display: flex;
  padding: 0.4rem 0 0.5rem;
}
#main .category-left {
  width: 0.85rem;
  height: 100%;
  overflow: hidden;
}
#main .category-left .swiper-container {
  width: 100%;
  height: 100%;
}
#main .category-left .swiper-container .swiper-slide {
  height: auto;
}
#main .category-left .swiper-container .swiper-slide > li a {
  display: block;
  height: 0.46rem;
  line-height: 0.46rem;
  text-align: center;
  font-size: 0.14rem;
  width: 0.85rem;
  background-color: #eee;
}
#main .category-left .swiper-container .swiper-slide > li.active > a {
  background-color: #fff;
  color: #de181b;
}
#main .category-right {
  flex: 1;
  overflow: hidden;
  height: 100%;
}
#main .category-right .swiper-container {
  width: 100%;
  height: 100%;
}
#main .category-right .swiper-container .swiper-wrapper {
  /* 用来位移滑动的容器，滑动容器不要加任何样式 */
}
#main .category-right .swiper-container .swiper-wrapper #branchList {
  height: auto;
}
#main .category-right .swiper-container .swiper-wrapper #branchList .jd-brand > h4 {
  font-size: 0.14rem;
  line-height: 0.4rem;
  padding-left: 0.2rem;
}
#main .category-right .swiper-container .swiper-wrapper #branchList .jd-brand > ul {
  display: flex;
  flex-wrap: wrap;
}
#main .category-right .swiper-container .swiper-wrapper #branchList .jd-brand > ul > li {
  width: 33.33%;
  margin: 0.05rem 0;
}
#main .category-right .swiper-container .swiper-wrapper #branchList .jd-brand > ul > li > a {
  display: block;
  text-align: center;
}
#main .category-right .swiper-container .swiper-wrapper #branchList .jd-brand > ul > li > a > img {
  width: 0.7rem;
}
#main .category-right .swiper-container .swiper-wrapper #branchList .jd-brand > ul > li > a > span {
  display: block;
  font-size: 0.12rem;
  margin: 0.05rem 0;
}
